<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Only serve index.html for non-files and non-directories
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
