<IfModule mod_rewrite.c>
  RewriteEngine On RewriteBase / # Only redirect requests that are not real
  files or folders RewriteCond %{REQUEST_FILENAME} !-f RewriteCond
  %{REQUEST_FILENAME} !-d # Send all other requests to index.html RewriteRule ^
  index.html [L]
</IfModule>
